body {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 1rem;*/
    font-size: 6vw;
    margin: 0;
    /*background-color: OldLace;*/
}

#mobile-nav {
    /* display the hamburger menu */
    display: block;
    /* position it near the top left corner of the screen */
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    /* give it a reasonable size */
    height: 5vh;
    width: 5vh;
    /* ensure it is on top in the stacking order */
    z-index: 10;
    /* turn off <a> tag padding for this tag */
    padding: 0;
}

#mobile-nav > img {
    /* Size the image based on the size of the #mobile-nav */
    width: 100%;
    /*vertical-align: top;*/
}

nav {
    /* mobile orientation is column */
    flex-direction: column;
    /* place the nav just under the hamburger menu */
    top: 2.5em;
    left: 3vw;
    /* hide the <nav> by not letting it have any width size due to max-width */
    width: 0;
    height: 0;
    /* don't let content extend outside of tag */
    overflow: hidden;
    /* transition into view when shown/hidden */
    transition: all .5s;
    padding: 0;
    position: fixed;
    z-index: 4;
    box-shadow: 2px 2px 2px black;
}


/* Show the actual <nav> tag when the #mobile-nav is clicked */

.show-nav {
    width: 12ch !important;
    height: 12em !important;
    padding: 0.2em !important;
    margin-top: .25em !important;
}

nav > a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 6vw;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    color: black;
    padding-right: .5em;
    padding-left: .5em;
    font-size: 6vw;
    margin: 0;
}

nav > a:first-child {
    padding-top: 0.5em;
}

nav > a:last-child {
    padding-bottom: 0.5em;
}

span {
    margin-top: .5em;
    font-weight: bold;
    font-size: .2em;
    font-family: Courgette,cursive;
}

article {
    padding-top: 2rem;
    left: 3vw;
    right: 3vw;
    /*margin-left: .1vw;*/
    /*margin-right: .1vw;*/
    background-color: rgba(255, 255, 240, .9);
}

.padding {
    padding-left: 2vw;
    padding-right: 2vw;
}

.gallery {
    width: 60vw;
    height: auto;
}

.location {
    padding-left: 5vw;
    width: 80%;
    height: auto;
}

/* home */
.grid-containerh1 {
    display: grid;
    grid-gap: 1em;
    font-size: 6vw;
    /*text-align: left;*/
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'mainh0 mainh0'
        'mainh2 mainh2'
        'mainh1 mainh1'
        'mainh3 mainh3'
        'mainh5 mainh5'
        'mainh4 mainh4';
}

/* pizza */
.grid-containerp1 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'mainp1 mainp1 mainp1'
        'mainp2 mainp2 mainp2'
        'mainp3 mainp3 mainp3'
        'mainp4 mainp4 mainp4'
        'mainp5 mainp5 mainp5'
        'mainp5a mainp5a mainp5a'
        'mainp6 mainp6 mainp6'
        'mainp7 mainp7 mainp7'
        'mainp8 mainp8 mainp8'
        'mainp9 mainp9 mainp9'
        'mainp11 mainp11 mainp11'
        'mainp12a mainp12a mainp12a'
        'mainp13 mainp13 mainp13'
        'mainp14 mainp14 mainp14'
        'mainp15 mainp15 mainp15'
        'mainp15a mainp15a mainp15a'
        'mainp16 mainp16 mainp16'
        'mainp17 mainp17 mainp17'
        'mainp18 mainp18 mainp18'
        'mainp19 mainp19 mainp19'
        'mainp20 mainp20 mainp20'
        'mainp21 mainp21 mainp21';
}

/* sandwiches */
.grid-containers1 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'mains1 mains1 mains1'
        'mains2 mains2 mains2'
        'mains3 mains3 mains3'
        'mains4 mains4 mains4'
        'mains5 mains5 mains5'
        'mains6 mains6 mains6'
        'mains7 mains7 mains7'
        'mains8 mains8 mains8'
        'mains9 mains9 mains9'
        'mains10 mains10 mains10'
        'mains11 mains11 mains11'
        'mains12 mains12 mains12'
        'mains13 mains13 mains13'
        'mains14 mains14 mains14'
        'mains15 mains15 mains15';
}

/* gallery */
.grid-containerg1 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'maing1 maing1'
        'maing2 maing2'
        'maing3 maing3'
        'maing4 maing4'
        'maing5 maing5'
        'maing6 maing6'
        'maing7 maing7'
        'maing8 maing8'
        'maing9 maing9'
        'maing10 maing10'
        'maing11 maing11'
        'maing12 maing12'
        'maing13 maing13'
        'maing14 maing14';
}

/* locations */
.grid-containerl1 {
    display: grid;
    grid-gap: 1em;
    /*text-align: left;*/
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'mainl0 mainl0'
        'mainl2 mainl2'
        'mainl1 mainl1'
        'mainl4 mainl4'
        'mainl3 mainl3';
}